<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cit_app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login"></activity>
        <activity android:name=".Profile" />
        <activity
            android:name=".ReadingOfSentences"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Picture_Description"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Word_List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MinimalPairs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GeneralRepetitionFinished"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SyllableRepetition"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MinimalPairsExerciseFinished"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MinimalPairs2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Instruction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Exercises"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Trainingset"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>